<mat-toolbar color="primary" style = "margin-left:40%">
  <h4 class="page-card-flexible-title">Register to UNCC Connect</h4>
  <ol class="breadcrumbs">
  </ol>
</mat-toolbar>

<mat-card class="page-card">
  <table class="table table-striped table-borderless table-hover table-card" style="table-layout: fixed">
    <tr style="text-align: center; word-wrap:break-word;margin-left:20%">
            <td style = "margin-left:10%"><label> Name : </label>
            <input type="text" name="" value=""></td>
      </tr>
  </table>
</mat-card>
