
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}
  </h1> -->
   <img width="250" alt="University Logo" src="assets/img/UNCC_1.jpg">
<!-- </div> -->
 <div>
  <!-- <span>
    <button mat-raised-button color="primary" style="background-color:#3BB2A9;color:white;margin-left:30%;margin-top:2%">Sign In</button>
    <button mat-raised-button color="primary" style="background-color:#3BB2A9;color:white;margin-left:28%;margin-top:2%" (click) = "openRegisterPage()">Register</button>
  </span>
</div>  -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
