.image{
         height:50em;
         background-size:cover;
         width:auto;
         background-image:url('https://s3.ap-south-1.amazonaws.com/ssdibucket0/2222222/profilePic/unc-charlotte-fountain.jpg');
         background-position:50% 50%;
         background-repeat: repeat-y;
       }
